<h1 class="mb-4">Users</h1>
<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Actions</th>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Invite New User", new_user_invitation_path, class: 'btn btn-primary' %>
